{% extends 'base.html' %}

{% block title %}Home | quiz_app{% endblock title %}

{% block content %}
    <div class="container mt-5 pt-5">
         <div class="col-md-6 mx-auto">
                <form>
                    
                    
                    <div class="form-group">
                        <label>Selectionner la Catégory</label>
                        <select name='category' class="form-control">
                            <option value="choix">Choix</option>
                            {% for category in categories %}
                            <option value="{{category.category_name}}">{{category.category_name}}</option>
                            {% endfor %}
                        </select>    
                    </div>
                    <button class="btn btn-danger mt-3">Submit</button>
                </form>    
    </div>
{% endblock content %}«